@model Tuple<Hour, IEnumerable<Course>>


@{
    ViewData["Title"] = "Log Hours";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="LogHours">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item1.UserID" class="control-label">User ID</label>
                <select asp-for="Item1.UserID" class ="form-control" asp-items="ViewBag.UserID">
                    @{
                        foreach (Course c in Model.Item2)
                        {

                            <!-- need to enumerate user ids -->

                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Item1.HourType" class="control-label"></label>
                <input asp-for="Item1.HourType" class="form-control" />
                <span asp-validation-for="Item1.HourType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item1.CourseID" class="control-label"></label>
                <select asp-for="Item1.CourseID" class="form-control" asp-items="ViewBag.CourseID">
                    @{
                        <!-- need to enumerate course ids -->
                    }
                </select>
                <span asp-validation-for="Item1.CourseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item1.Date" class="control-label"></label>
                <input asp-for="Item1.Date" class="form-control" />
                <span asp-validation-for="Item1.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item1.PayRate" class="control-label"></label>
                <input asp-for="Item1.PayRate" class="form-control" />
                <span asp-validation-for="Item1.PayRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Item1.IsApproved" /> @Html.DisplayNameFor(model => model.Item1.IsApproved)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

