@model IEnumerable<AllocationApp.Models.User>

@{
    ViewData["Title"] = "Demonstrator";
}

<div class="container">
      <div class="row">

        <div class="col-lg-4">
          <div class="section" id="notifications">

            <h4>Notifications</h4>

            <div class="object_box">

              <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action">
                  You have been assigned to CSXXXX: Algorithms and Data Structures.
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Nothing left to load.
                </a>
              </div>

            </div>
          </div>

<!--          <div class="section" id="actions">

          </div>-->

        </div>

        <div class="col-lg-8">
          <div class="section" id="modules">

            <h4>My Modules</h4>
            <!-- search box -->
            <input type="text" placeholder="Type module and press enter" class="search">
            <!-- <input type="button" class="button" value="Apply Filter"> -->
            <!-- /search box -->

            <div class="object_box">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">CODE</th>
                    <th scope="col">NAME</th>
                    <th scope="col">LECTURER</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">CS2010</th>
                    <td>Algorithms & Data Structures</td>
                    <td>IVANA DUSPARIC</td>
                  </tr>
                  <tr>
                    <th scope="row">CS1021</th>
                    <td>Introduction to Computing I</td>
                    <td>JONATHAN DUKES</td>
                  </tr>
                  <tr>
                    <th scope="row">CS2021</th>
                    <td>Microprocessor Systems</td>
                    <td>MIKE BRADY</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>

        </div>

      </div>
    </div>