
@model Tuple<User, List<Course>>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            @using (Html.BeginForm())
            {
                <div class="editor-label">
                    @Html.LabelFor(model => model.Item1.UserID)
                </div>
                <div class="editor-text">
                    @Html.TextBoxFor(model => model.Item1.UserID)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Item2.First().CourseID)
                </div>
                <div class="editor-text">
                    @Html.TextBoxFor(model => model.Item2.First().CourseID)
                </div>
                <input type ="submit" value="Assign User to Course" />
            }

        </div>
    </div>
</div>