@{
    ViewData["Title"] = "Dashboard";
}

<div class="container">
      <div class="row">

        <div class="col-lg-4">
          <div class="section" id="notifications">

            <h4>Notifications</h4>

            <div class="object_box">

              <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action">
                  <strong>Tony Stark</strong> suggested
                  <strong>Jane Doe</strong> to CS2021: Comp. Architecture. Click here to approve or deny.</a>
                <a href="#" class="list-group-item list-group-item-action">
                  <strong>John Doe</strong> logged hours for CS1025: Telecommunications. Waiting for approval.</a>
                <a href="#" class="list-group-item list-group-item-action">Nothing left to load.</a>
              </div>

            </div>
          </div>

          <div class="section" id="actions">
              <div class="action_btn">ADD NEW LECTURER TO SYSTEM</div>
              <div class="action_btn">ADD NEW DEMONSTRATOR TO SYSTEM</div>
              <hr/>
              <div class="action_btn">ADD NEW MODULE</div>

          </div>

        </div>

        <div class="col-lg-8">
          <div class="section" id="modules">

            <h4>Modules</h4>
            <!-- search box -->
            <input type="text" placeholder="Type module and press enter" class="search">
            <!-- <input type="button" class="button" value="Apply Filter"> -->
            <!-- /search box -->

            <div class="object_box">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">CODE</th>
                    <th scope="col">NAME</th>
                    <th scope="col">LECTURER</th>
                    <th scope="col">MODIFY</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">CS2010</th>
                    <td>Algorithms & Data Structures</td>
                    <td>IVANA DUSPARIC</td>
                    <td><img class="modify_image"></td>
                  </tr>
                  <tr>
                    <th scope="row">CS1021</th>
                    <td>Introduction to Computing I</td>
                    <td>JONATHAN DUKES</td>
                    <td><img class="modify_image"></td>
                  </tr>
                  <tr>
                    <th scope="row">CS2021</th>
                    <td>Microprocessor Systems</td>
                    <td>MIKE BRADY</td>
                    <td><img class="modify_image"></td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
          <div class="section" id="demonstrators">

            <h4>Demonstrators</h4>
            <!-- search box -->
            <input type="text" placeholder="Type name and press enter" class="search">
            <!-- <input type="button" class="button" value="Apply Filter"> -->
            <!-- /search box -->

            <div class="object_box">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">NAME</th>
                    <th scope="col">SKILLS</th>
                    <th scope="col">MODULES</th>
                    <th scope="col">MODIFY</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">John Doe</th>
                    <td>Java, Assembly, C, C++, Go</td>
                    <td>CS2010: Algorithms & Data Structures</td>
                    <td><img class="modify_image"></td>   
                  </tr>
                  <tr>
                    <th scope="row">Jane Doe</th>
                    <td>Java, C++, VHDL</td>
                    <td>CS2022: Computer Architecture</td>
                    <td><img class="modify_image"></td>   
                  </tr>            
                  <tr>
                    <th scope="row">Sheldon Cooper</th>
                    <td>Algorithms, Data Structures, AI</td>
                    <td>CS2010: Algorithms & Data Structures</td>
                    <td><img class="modify_image"></td>
                   </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>

      </div>
    </div>