@{
    ViewData["Title"] = "Home Page";
}

<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
<li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
<li><a asp-area="" asp-controller="Home" asp-action="Dashboard">Dashboard</a></li>
<li><a asp-area="" asp-controller="Lecturer" asp-action="LecturerDashboard">Lecturer</a></li>
<li><a asp-area="" asp-controller="Supervisor" asp-action="Subordinates">Subordinates</a></li>
<li><a asp-area="" asp-controller="Supervisor" asp-action="Modules">Modules</a></li>
