body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #ffffff;
	margin: 0;
	padding: 0;
}

a:link, a:visited, a:hover, a:active {
    color: #000000;
}

#header_box {
    position: static;
    margin: auto;
    background-color: #0E72B9;
    width: 100%;
    height: 100px;
    color: #FFFFFF;
}

#header_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 50px;
}

#heading_container {
    float: left;
    margin-top: 22px;
    height: 60px;
    width: auto;
}

h2 {
    margin-top: 10px;
    font-size: 10px;
}

h1 {
    font-size: 25px;
    margin-top: -10px;
    font-weight: 700;
}

#user_container {
    width: 200px;
    height: 50px;
    margin-top: 25px;
    float: right;
}

#username_container {
    height: 50px;
    width: 100px;
    float: right;
    margin-right: 10px;
    padding-top: 10px;
}

#icon_container {
    float: right;
}

img.user {
    width: 50px;
    height: auto;
    float: right;
}

h3 {
    font-size: 15px;
    top: 0;
    text-align: right;
    font-weight: 500;
}

p.role {
    font-size: 10px;
    text-align: right;
    margin-top: -10px;
}

#body_container {
  width: 80%;
  position: relative;
  margin: auto;
  top: 50px;
}

.section {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
}

.search {
  float: left;
  border: 1px solid #B2B3B4;
  padding: 10px;
  margin: 10px;
  width: 29%;
  height: 30px;
  border-radius: 20px;
  outline: none;
  color: #333333;
}

.col-sm {
  margin-left: -15px;
  margin-top: 15px;
}

.object_box {
  background-color: #E4F1FA;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

/* ------------------------------------------- */

/* Dropdown Button */
.dropbtn {
    right: 0;
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 14px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 25px;
    right: 0;
    background-color: #F5F5F5;
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content:before {
    content: '';
	position: absolute;
	top: 0;
	left: 85%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #F5F5F5;
	border-top: 0;
	margin-left: -10px;
	margin-top: -10px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #F0F0F0;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background: #F0F0F0;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

/* ------------------------------------------- */
