body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #ffffff;
	margin: 0;
	padding: 0;
}

a:link, a:visited, a:hover, a:active {
    color: #000000;
}

#header_box {
    position: static;
    margin: auto;
    background-color: #0E72B9;
    width: 100%;
    height: 100px;
    color: #FFFFFF;
}

#header_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 50px;
}

#heading_container {
    float: left;
    margin-top: 22px;
    height: 60px;
    width: auto;
}

h2 {
    margin-top: 10px;
    font-size: 10px;
}

h1 {
    font-size: 25px;
    margin-top: -10px;
    font-weight: 700;
}

#user_container {
    right: 0;
    margin-top: 25px;
    height: 50px;
    width: 250px;
    float: right;
}

#username_container {
    height: 50px;
    width: 100px;
    float: right;
    margin-right: 10px;
    padding-top: 8px;
}

img.user {
    width: 50px;
    height: auto;
    float: right;
}

h3 {
    font-size: 15px;
    top: 0;
    text-align: right;
    font-weight: 500;
}

p.role {
    font-size: 10px;
    text-align: right;
    margin-top: -10px;
}

#body_container {
  width: 80%;
  position: relative;
  margin: auto;
  top: 50px;
}

.section {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
}

.search {
  float: left;
  border: 1px solid #B2B3B4;
  padding: 10px;
  margin: 10px;
  width: 29%;
  height: 30px;
  border-radius: 20px;
  outline: none;
  color: #333333;
}

.col-sm {
  margin-left: -15px;
  margin-top: 15px;
}

.object_box {
  background-color: #E4F1FA;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

#dropdownMenuLink {
    background: none;
    padding: 0;
    border: none;
    float: right;
}

